@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  /* Colors in order of intensity */
  --color-primary: #10a7f1; /* lightest */
  --color-secondary: #38a8ae; /* light */
  --color-tertiary: #1800ad; /* dark */
  --color-fourth: #104656; /* darkest */
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

button:active {
  transform: scale(0.96);
}